In [72]:
import sqlite3
import pandas as pd

In [73]:
# Connect to database
conn = sqlite3.connect('film.db')
cursor = conn.cursor()

In [74]:
# Load the query results into a DataFrame
query = 'SELECT * FROM top1000'
df = pd.read_sql_query(query, conn)
df.head(1)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

#### Clean the data

In [77]:
# Check data types
df.dtypes

Poster_Link       object
Series_Title      object
Released_Year     object
Certificate       object
Runtime           object
Genre             object
IMDB_Rating      float64
Overview          object
Meta_score       float64
Director          object
Star1             object
Star2             object
Star3             object
Star4             object
No_of_Votes        int64
Gross             object
dtype: object

In [79]:
# Convert year to datetime
df['Released_Year'] = pd.to_numeric(df['Released_Year'])

In [80]:
# Convert runtime to numeric
df['Runtime'] = df['Runtime'].str.replace('min', '')
df['Runtime'] = df['Runtime'].str.strip()

df['Runtime'] = pd.to_numeric(df['Runtime'])
df['Runtime'].head()

0    142
1    175
2    152
3    202
4     96
Name: Runtime, dtype: int64

In [ ]:
# Clean the gross
df['Gross'] = df['Gross'].str.replace(',', '')

df['Gross'] = pd.to_numeric(df['Gross'])

0     28341469
1    134966411
2    534858444
3     57300000
4      4360000
Name: Gross, dtype: object

In [83]:
df.dtypes

Poster_Link       object
Series_Title      object
Released_Year      int64
Certificate       object
Runtime            int64
Genre             object
IMDB_Rating      float64
Overview          object
Meta_score       float64
Director          object
Star1             object
Star2             object
Star3             object
Star4             object
No_of_Votes        int64
Gross            float64
dtype: object

In [85]:
# Save clean data to database
df.to_sql('top1000', conn, if_exists='replace', index=False)
conn.commit()