# Pandas

### Import

In [64]:
import pandas as pd

In [65]:
from pandas import Series, DataFrame

### Series

- A Series is a one-dimensional array-like object containing a sequence of values (of similar types to NumPy types) and an associated array of data labels, called its index.The simplest Series is formed from only an array of data
- The string representation of a Series displayed interactively shows the index on the left and the values on the right

In [66]:
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [67]:
# You can get the array representation of the Series via its values
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [68]:
# You can get index object of the Series via itsindex attributes
obj.index

RangeIndex(start=0, stop=4, step=1)

In [69]:
# It is desirable to create a Series with an index identifying each data point
# with a label:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [70]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [71]:
# Compared with NumPy arrays, you can use labels in the index when selecting single
# values or a set of values:

obj2['a']

-5

In [72]:
obj2['d'] = 6
obj2[['c', 'a', 'd']]

c    3
a   -5
d    6
dtype: int64

Here ['c', 'a', 'd'] is interpreted as a list of indices, even though it contains
strings instead of integers

#### Series dict

Another way to think about a Series is as a fixed-length, ordered dict, 
as it is a mapping of index values to data values. 
It can be used in many contexts where you might use a dict:

In [73]:
'b' in obj2

True

In [74]:
 'e' in obj2

False

Should you have data contained in a Python dict, you can create a Series from it by passing the dict

In [75]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

When you are only passing a dict, the index in the resulting Series will have the dictâ€™s
keys in sorted order. You can override this by passing the dict keys in the order you
want them to appear in the resulting Series:

In [76]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

Since no value for 'California' was found, it appears as NaN (not a number), which is considered in pandas to mark missing or NA values. Since 'Utah' was not included in states, it is excluded from the resulting object.

#### Missing values

The isnull and notnull functions in pandas should be used to detect missing data:

In [77]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [78]:
pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [79]:
# Series also has these as instance methods:
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

#### Index alignment

In [80]:
# A useful Series feature for many applications is that it automatically aligns by index
# label in arithmetic operations:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [81]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [82]:
obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

This is similar to a SQL join operation

Both the Series object itself and its index have a name attribute, which integrates with
other key areas of pandas functionality

In [83]:
obj4.name = 'population'
obj4.index.name = 'state'
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [84]:
# A Seriesâ€™s index can be altered in-place by assignment
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [85]:
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

### Dataframe