In [ ]:
import mysql.connector

# Connect to database
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Julien05@2025",
    database="foodshop"
)

cursor = conn.cursor()
print("Connected to MySQL!")

Connected to MySQL!

In [ ]:
# Create table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS meal_times (
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(100) UNIQUE,
        description VARCHAR(100)
    )
""")
print("Table created successfully!")

Table created successfully!

In [ ]:
# Insert into table
sql = "INSERT INTO meal_times (name, description) VALUES (%s, %s)"
values = ("Lunch", "Refreshing when the sun is hot")
cursor.execute(sql, values)
conn.commit()
print(f"{cursor.rowcount} record inserted.")

1 record inserted.

In [ ]:
# Select data
cursor.execute("SELECT * FROM meal_times")
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Lunch', 'Refreshing when the sun is hot')

In [5]:
# Close connection
cursor.close()
conn.close()