In [51]:
import mysql.connector
import pandas as pd
import sqlite3

In [52]:
# Connect to database
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="password",
    database="movies"
)

cursor = conn.cursor()
print("Connected to MySQL!")

Connected to MySQL!

In [ ]:
# Create table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS movies (
        id INT AUTO_INCREMENT,
        Series_Title VARCHAR(100),
        Released_Year INT(4),
        Runtime VARCHAR (10),
        Genre VARCHAR (50), 
        IMDB_Rating FLOAT (3),
        Overview VARCHAR (2000),
        Director VARCHAR (100),
        Star1 VARCHAR(100),
        Star2 VARCHAR(100),
        Star3 VARCHAR(100),
        Star4 VARCHAR(100),
        No_of_Votes INT(10),
        PRIMARY KEY(id)       
    )
""")
print("Table created successfully!")

Table created successfully!

#### Load data

In [75]:
lite_conn = sqlite3.connect('movies.db')
query = """SELECT Series_Title, Released_Year, 
          Runtime, Genre, IMDB_Rating, 
          Overview, Director,
          Star1, Star2, Star3, Star4, 
          No_of_Votes
          FROM top1000
          """
df = pd.read_sql_query(query, lite_conn)

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   object
 1   Released_Year  1000 non-null   object
 2   Runtime        1000 non-null   object
 3   Genre          1000 non-null   object
 4   IMDB_Rating    1000 non-null   float64
 5   Overview       1000 non-null   object
 6   Director       1000 non-null   object
 7   Star1          1000 non-null   object
 8   Star2          1000 non-null   object
 9   Star3          1000 non-null   object
 10  Star4          1000 non-null   object
 11  No_of_Votes    1000 non-null   int64
dtypes: float64(1), int64(1), object(10)
memory usage: 93.9+ KB

In [77]:
df.head(2)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Overview,Director,Star1,Star2,Star3,Star4,No_of_Votes
0,The Shawshank Redemption,1994,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110
1,The Godfather,1972,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367

#### Insert data into MySQL Database

In [ ]:
# Insert into table
sql = """INSERT INTO movies 
(Series_Title, Released_Year,Runtime, Genre, Imdb_Rating, Overview,
Director, Star1, Star2, Star3, Star4, No_of_Votes) 
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""
for index, row in df.iterrows():
    cursor.execute(sql, tuple(row))

conn.commit()

print("Data inserted into table.")

Data inserted into table.

In [82]:
# Preview data
cursor.execute("SELECT * FROM movies LIMIT 5")
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'The Shawshank Redemption', 1994, '142 min', 'Drama', 9.3, 'Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.', 'Frank Darabont', 'Tim Robbins', 'Morgan Freeman', 'Bob Gunton', 'William Sadler', 2343110)
(2, 'The Godfather', 1972, '175 min', 'Crime, Drama', 9.2, "An organized crime dynasty's aging patriarch transfers control of his clandestine empire to his reluctant son.", 'Francis Ford Coppola', 'Marlon Brando', 'Al Pacino', 'James Caan', 'Diane Keaton', 1620367)
(3, 'The Dark Knight', 2008, '152 min', 'Action, Crime, Drama', 9.0, 'When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, Batman must accept one of the greatest psychological and physical tests of his ability to fight injustice.', 'Christopher Nolan', 'Christian Bale', 'Heath Ledger', 'Aaron Eckhart', 'Michael Caine', 2303232)
(4, 'The Godfather: Part II', 1974, '202 min', 'Crime, Drama', 9.0, 'The early life and career of Vito Corleone in 1920s New York City is portrayed, while his son, Michael, expands and tightens his grip on the family crime syndicate.', 'Francis Ford Coppola', 'Al Pacino', 'Robert De Niro', 'Robert Duvall', 'Diane Keaton', 1129952)
(5, '12 Angry Men', 1957, '96 min', 'Crime, Drama', 9.0, 'A jury holdout attempts to prevent a miscarriage of justice by forcing his colleagues to reconsider the evidence.', 'Sidney Lumet', 'Henry Fonda', 'Lee J. Cobb', 'Martin Balsam', 'John Fiedler', 689845)

In [83]:
# Close connection
cursor.close()
conn.close()