In [1]:
import mysql.connector
import pandas as pd

In [2]:
# Connect to database
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Julien05@2025",
    database="movies"
)

cursor = conn.cursor()
print("Connected to MySQL!")

Connected to MySQL!

In [9]:
df.to_csv(

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"

In [32]:
# Create table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS top1000 (
        Poster_Link VARCHAR(100),
        Series_Title VARCHAR(100) UNIQUE,
        Released_Year INT(4),
        Certificate VARCHAR (3),
        Runtime VARCHAR (10),
        Genre VARCHAR (50), 
        IMDB_Rating FLOAT (3),
        Overview VARCHAR (1000),
        Meta_score FLOAT (3),
        Director VARCHAR (20),
        Star1 VARCHAR (20),
        Star2 VARCHAR (20),
        Star3 VARCHAR (20),
        Star4 VARCHAR (20),
        No_of_Votes INT(10),
        Gross VARCHAR (20)
        
    )
""")
print("Table created successfully!")

Table created successfully!

In [ ]:
# Insert into table
sql = "INSERT INTO top1000 (title, year, certificate, runtime, genre, imdb_rating, overview, meta_score, director, star1, star2, star3, star4, votes, gross) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
for index, row in df.iterrows():
    cursor.execute(sql, tuple(row))
    

print(f"{cursor.rowcount} record inserted.")

In [ ]:
db_connection.commit()
cursor.close()
db_connection.close()

1 record inserted.

In [ ]:
# Select data
cursor.execute("SELECT * FROM meal_times")
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Lunch', 'Refreshing when the sun is hot')

In [5]:
# Close connection
cursor.close()
conn.close()