### Python

In [98]:
import sqlite3
import pandas as pd

In [99]:
# Connect to database
# conn = sqlite3.connect('movies.db')
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

In [100]:
# Create table
sql = '''CREATE TABLE IF NOT EXISTS players (
            name TEXT NOT NULL,
            foot TEXT,
            team TEXT,
            rating INTEGER
)'''

cursor.execute(sql)
conn.commit()

### Inserting data

In [101]:
# Insert into table
cursor.execute('''INSERT INTO players 
               (name, foot, team, rating)
               VALUES 
               ('Hames', 'L', 'Real Madrid', 85)
               ''')
conn.commit()

In [125]:
players = [('Mbappe', 'R', 'Real Madrid', 107), 
           ('Messi', 'L', 'Miami', 107), 
           ('Kvara', 'R', 'PSG', 106), 
           ('Zidane', 'R', 'Real Madrid', 105)]

In [126]:
# Insert many
cursor.executemany('INSERT INTO players VALUES (?, ?, ?, ?)', players)
conn.commit()

### Querying database

In [104]:
# Query database
select_query = 'SELECT * FROM players'
cursor.execute(select_query)

cursor.fetchone()
# cursor.fetchmany(2)
# cursor.fetchall()

('Hames', 'L', 'Real Madrid', 85)

In [105]:
# Indexing query results
cursor.execute(select_query)
cursor.fetchone()[0]

'Hames'

In [106]:
cursor.execute(select_query)
items = cursor.fetchall()
for i in items:
    print(f'{i[0]} - {i[2]}')

Hames - Real Madrid
Donnarumma - Paris
Zanneti - Inter
Nesta - Juventus
Carlos - Real Madrid

In [107]:
# Row id
cursor.execute('SELECT rowid, * FROM players')
items = cursor.fetchall()
for i in items:
    print(i)

(1, 'Hames', 'L', 'Real Madrid', 85)
(2, 'Donnarumma', 'L', 'Paris', 100)
(3, 'Zanneti', 'R', 'Inter', 102)
(4, 'Nesta', 'R', 'Juventus', 106)
(5, 'Carlos', 'L', 'Real Madrid', 102)

In [108]:
# Query with conditions
cursor.execute('SELECT * FROM players WHERE rating >=100 ')
cursor.fetchall()

[('Donnarumma', 'L', 'Paris', 100),
 ('Zanneti', 'R', 'Inter', 102),
 ('Nesta', 'R', 'Juventus', 106),
 ('Carlos', 'L', 'Real Madrid', 102)]

In [109]:
# Ordering
cursor.execute('SELECT name, team, rating FROM players ORDER BY rating DESC')
cursor.fetchall()

[('Nesta', 'Juventus', 106),
 ('Zanneti', 'Inter', 102),
 ('Carlos', 'Real Madrid', 102),
 ('Donnarumma', 'Paris', 100),
 ('Hames', 'Real Madrid', 85)]

In [ ]:
# And
cursor.execute("SELECT * FROM players WHERE team = 'Real Madrid' AND foot = 'L'")
cursor.fetchall()

[('Carlos', 'L', 'Real Madrid', 102)]

In [130]:
# Or
cursor.execute("SELECT * FROM players WHERE team = 'Real Madrid' OR team = 'PSG' OR rating > 100")
cursor.fetchall()

[('Dembele', 'R', 'Inter', 102),
 ('Nesta', 'R', 'Juventus', 106),
 ('Carlos', 'L', 'Real Madrid', 102),
 ('Mbappe', 'R', 'Real Madrid', 107),
 ('Messi', 'L', 'Miami', 107),
 ('Kvara', 'R', 'PSG', 106),
 ('Zidane', 'R', 'Real Madrid', 105)]

In [134]:
# Limit results
cursor.execute('SELECT rowid, * FROM players ORDER BY rating DESC LIMIT 4')
cursor.fetchall()

[(6, 'Mbappe', 'R', 'Real Madrid', 107),
 (7, 'Messi', 'L', 'Miami', 107),
 (4, 'Nesta', 'R', 'Juventus', 106),
 (8, 'Kvara', 'R', 'PSG', 106)]

### Update Records

In [111]:
update = ''' UPDATE players SET name = 'Dembele' WHERE rowid = 3 '''
cursor.execute(update)
conn.commit()

In [112]:
cursor.execute(select_query)
cursor.fetchall()

[('Hames', 'L', 'Real Madrid', 85),
 ('Donnarumma', 'L', 'Paris', 100),
 ('Dembele', 'R', 'Inter', 102),
 ('Nesta', 'R', 'Juventus', 106),
 ('Carlos', 'L', 'Real Madrid', 102)]

### Delete Records

In [113]:
cursor.execute('DELETE FROM players WHERE rowid = 1')
conn.commit()
cursor.execute(select_query)
cursor.fetchall()

[('Donnarumma', 'L', 'Paris', 100),
 ('Dembele', 'R', 'Inter', 102),
 ('Nesta', 'R', 'Juventus', 106),
 ('Carlos', 'L', 'Real Madrid', 102)]

In [135]:
# Drop table
cursor.execute('DROP TABLE players')
conn.commit()
cursor.execute('SELECT * FROM players')

OperationalError: no such table: players