### Python

In [1]:
import sqlite3
import pandas as pd

In [2]:
# Connect to database
conn = sqlite3.connect('movies.db')
cursor = conn.cursor()

In [5]:
df = pd.read_csv("imdb.csv")
df.head(1)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"

In [6]:
# Insert data
df.to_sql('top1000', conn, if_exists='replace', index=False)
conn.commit()

In [8]:
# Select data
cursor.execute('SELECT * FROM top1000')
rows = cursor.fetchall() # Fetch all rows
for row in rows[:5]:
    print(row)

('https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_UX67_CR0,0,67,98_AL_.jpg', 'The Shawshank Redemption', '1994', 'A', '142 min', 'Drama', 9.3, 'Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.', 80.0, 'Frank Darabont', 'Tim Robbins', 'Morgan Freeman', 'Bob Gunton', 'William Sadler', 2343110, '28,341,469')
('https://m.media-amazon.com/images/M/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UY98_CR1,0,67,98_AL_.jpg', 'The Godfather', '1972', 'A', '175 min', 'Crime, Drama', 9.2, "An organized crime dynasty's aging patriarch transfers control of his clandestine empire to his reluctant son.", 100.0, 'Francis Ford Coppola', 'Marlon Brando', 'Al Pacino', 'James Caan', 'Diane Keaton', 1620367, '134,966,411')
('https://m.media-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_UX67_CR0,0,67,98_AL_.jpg', 'The Dark Knight', '2008', 'UA', '152 min', 'Action, Crime, Drama', 9.0, 'When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, Batman must accept one of the greatest psychological and physical tests of his ability to fight injustice.', 84.0, 'Christopher Nolan', 'Christian Bale', 'Heath Ledger', 'Aaron Eckhart', 'Michael Caine', 2303232, '534,858,444')
('https://m.media-amazon.com/images/M/MV5BMWMwMGQzZTItY2JlNC00OWZiLWIyMDctNDk2ZDQ2YjRjMWQ0XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UY98_CR1,0,67,98_AL_.jpg', 'The Godfather: Part II', '1974', 'A', '202 min', 'Crime, Drama', 9.0, 'The early life and career of Vito Corleone in 1920s New York City is portrayed, while his son, Michael, expands and tightens his grip on the family crime syndicate.', 90.0, 'Francis Ford Coppola', 'Al Pacino', 'Robert De Niro', 'Robert Duvall', 'Diane Keaton', 1129952, '57,300,000')
('https://m.media-amazon.com/images/M/MV5BMWU4N2FjNzYtNTVkNC00NzQ0LTg0MjAtYTJlMjFhNGUxZDFmXkEyXkFqcGdeQXVyNjc1NTYyMjg@._V1_UX67_CR0,0,67,98_AL_.jpg', '12 Angry Men', '1957', 'U', '96 min', 'Crime, Drama', 9.0, 'A jury holdout attempts to prevent a miscarriage of justice by forcing his colleagues to reconsider the evidence.', 96.0, 'Sidney Lumet', 'Henry Fonda', 'Lee J. Cobb', 'Martin Balsam', 'John Fiedler', 689845, '4,360,000')

In [11]:
cursor.execute('SELECT * FROM top1000 WHERE Series_Title = ?', ('The Avengers',))
row = cursor.fetchone() # Fetch one row
print(row)

('https://m.media-amazon.com/images/M/MV5BNDYxNjQyMjAtNTdiOS00NGYwLWFmNTAtNThmYjU5ZGI2YTI1XkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_UX67_CR0,0,67,98_AL_.jpg', 'The Avengers', '2012', 'UA', '143 min', 'Action, Adventure, Sci-Fi', 8.0, "Earth's mightiest heroes must come together and learn to fight as a team if they are going to stop the mischievous Loki and his alien army from enslaving humanity.", 69.0, 'Joss Whedon', 'Robert Downey Jr.', 'Chris Evans', 'Scarlett Johansson', 'Jeremy Renner', 1260806, '623,279,547')

In [ ]:
# Close the connection
conn.close()

### SQL

In [ ]:
SELECT * FROM top1000 LIMIT (10);